<%- include('../layouts/header.ejs') %>
    <%- include('../partials/user-navbar-loggedin.ejs') %>

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shop in style</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">


                    <% for(let i=0; i<result.length; i++) { %>
                        <div class="row">
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Sale badge-->
                                <a href="user-wishlist?id=<%= result[i]._id  %> ">
                                <div class="badge  text-secondary  position-absolute"
                                    style="top: 0.5rem; right: 0.5rem; cursor: pointer;"><i
                                        class="fa fa-heart fa-xl"></i></div></a>
                                <!-- Product image-->
                                <img style="height: 100%;width:100%; " class="card-img-top" src="/images/<%= result[i].image1 %> " alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name--> 
                                        <a href="/product-view?id=<%= result[i]._id %> ">                                     
                                        <h5 class="fw-bolder">
                                            <%= result[i].productName %>
                                        </h5></a> 
                                    
                                        <!-- Product reviews-->
                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                        </div>
                                        <!-- Product price-->
                                        <span style=" margin-right: 10px; font-size: 20px; font-weight: 600;">₹ <%=
                                                result[i].discountedPrice %></span>
                                        <span class="text-muted text-decoration-line-through" style="font-size: 16px">₹
                                            <%= result[i].actualPrice %> </span>
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">

                                    <form action="/user_home/addToCart?id=<%= result[i]._id %> " method="post">
                                        <div class="text-center"><button type="submit"
                                                class="btn btn-outline-dark mt-auto mb-3" style="width: 100%;">Add to
                                                cart</button></div>
                                    </form>
                                    <!-- <div class="text-center"><a class="btn btn-outline-dark mt-auto mb-3"
                                            style="width: 100%;" href="/cart">Go to cart</a></div>
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                            style="width: 100%;" href="#">Buy Now</a></div> -->
                                </div>
                            </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <!-- <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p>
            </div>
        </footer> -->
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>










        <%- include('../layouts/footer.ejs') %>